@tailwind base;
@tailwind components;
@tailwind utilities;

.SHOW_MENU {
  animation: showMenu 0.25s ease forwards;
}

.SHOW_CONTENT {
  animation: showContent 2s ease forwards;
}

.HIDE_MENU {
  animation: hideMenu 0.25s ease forwards;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
      
    border-top: 20px solid #f00;
}

@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}